.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

span {
  display: inline-block;
  background-color: rgb(247, 236, 222);
  padding: 10px;
  margin: 5px;
}

.list-wrapper {
  border: 1px solid rgb(0, 0, 0);
  margin: auto;
  width: 500px;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
  color: #ededed;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #04AA6D;
  color: rgb(27, 26, 26);
}

.topnav a.active {
  background-color: #04AA6D;
  color: rgb(35, 108, 106);
}



.tb {
  box-sizing: border-box;
}

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.column {
  flex: 50%;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border: 1px solid rgb(12, 13, 13);
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
  padding: 13px;
}

td {
  text-align: center;
  padding: 13px;
  
}

tr:nth-child(even) {
  background-color: #9f9191f3;
}

